
.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
  background: linear-gradient(135deg, #ff6b6b 0%, #4ecdc4 100%);
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  animation: pulseIn 1.2s ease-in-out;
}


.contatct-title {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background: rrgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}


.form-groupe input:foccus,
.form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(100, 149, 237, 0.3);
    transform: scale(1.02);
}


.form-groupe textarea {
    resize: vertical;
    min-height: 120px
}

.submit-button, 
.cancel-button{
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: #4a90e2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
}


.submit-button:hover {
    background: #357abd;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgb(0,0,0, 0.2);
}



.button-goupe {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}



.submit-button:active {
    transform: translate(0);
}


.cancel-button {
    background-color: #3b82f6;
    color: white;
}

.cancel-button:hover {
    background-color: #d1d5db;
    transform: translateY(-2px);
    
}




@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 




@media (max-width: 768px) {
  .contact {
    padding: 0 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .button-goupe {
    flex-direction: row;
    gap: 0.75rem;
  }
}

    